.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 2px;
    align-items: center;

    img{
        width:100px;
        height:100px;

    }
    button{
        width:100px;
        height:50px;
        background-color: plum;
        align-items: center;
        border-radius: 5px;
    }
}