.productsWrapper {
    // display: grid;
    // grid-template-columns: repeat(5,1fr);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;

    .card {
        background: white;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        width:200px;
        height:300px;

        img{
            height:100px;
            width:80px;
            align-self: center;
        }
     button{
            border: none;
            outline: none;
            background: #764abc;
            padding: 5px 10px;
            width:100px;
            height:30px;
            color:white;
            border-radius:4px;
            font-weight:lighter;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            text-align: center;
            margin:auto;
        }
        .btn:hover{
            background-color: #513282;
        }
    }
    a{
        text-decoration: none;
        color:white;
      }

}






